.a0p
{
    color: white;
    width: 23em;
    margin: 0 auto;
    padding: 3em; 
    text-align: center;
    background-color: yellowgreen; 
}

.projektiMeni
{
    width: 15em; 
    margin: 0 auto;
    text-align: center;  
    padding: 1em;
}

.projektiMeni a
{
    color: white;
    text-decoration: none;
}

.projektiMeni li
{
    list-style: none; 
    padding: 0.4em;
    background-color: teal;
}

.projektiMeni li:hover
{
    opacity: 0.7;
}